* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background: #f5f6fa;
  font-family: "Montserrat", sans-serif;
}

.App {
  margin: 5% 7%;
  background: #edeffa;
}

nav {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
}

.title {
  font-size: 1.875rem;
  margin-left: 5%;
  padding: 4% 0;
  font-weight: 700;
  color: #0290ff;
  margin-right: 5%;
}

.title-list {
  display: flex;
  list-style: none;
  gap: 8%;
}

li {
  list-style: none;
}

.books {
  opacity: 0.9;
  color: #121212;
  font-size: 0.813rem;
}

.cats {
  opacity: 0.5;
  color: #121212;
  letter-spacing: 1.9px;
  font-size: 0.813rem;
}

.icon {
  align-self: flex-end;
}

.form {
  padding: 32px;
}

.form-title {
  color: #888;
  opacity: 1;
  font-size: 1.25rem;
}

input {
  padding: 1.3% 0;
  border-radius: 4px;
  border: 0.7px solid #e8e8e8;
  margin-right: 3%;
  width: 35%;
}

.form-btn {
  padding: 1.3% 2%;
  border-radius: 4px;
  border: 0.7px solid #e8e8e8;
  color: white;
  background: #0290ff;
  font-weight: 700;
  width: 20%;
}

.Book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3% 7%;
  background: #fff;
  font-size: 2rem;
}

.All-btn {
  padding: 1.3% 2%;
  border-radius: 4px;
  border: 0.7px solid #e8e8e8;
  color: white;
  background: #0290ff;
  font-weight: 700;
}

.tinga {
  display: flex;
  flex-direction: column;
}
